.FiltersSelection
{
    background-color: white;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgb(236, 236, 236);
}
h2
{
    text-align: center;
}
.cornerCircle
{
    width: 10%;
}
.scheduleHead
{
    margin: 7% 0;
    display: flex;
    justify-content: space-between;
}
.date
{
    align-items: center;
    display: flex;
    width: 70%;
}
.date p{
    width: max-content;
    margin-right: 5%;
}
.calendar
{
    padding-top: 1.5%;
    width: 10%;
}
.calendarImage
{
    width: 90%;
}

.arrowImg
{
    width: 100%;
}
.filterButt
{
    border-radius: 6px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 25%;
    padding: 2% 4%;
}

.sessionForm
{
    margin-top: 80%;
}
.FiltersSelection h4
{
    color: rgb(82, 82, 82);
}
.filterHead
{
    text-align: center;
}

.option
{
    margin-top: 4%;
    align-items: center;
    display: flex;
    justify-content: left;
    width: 33.3%;
}
.option input
{
    margin-right: 5%;
}

.swiper-button-prev::after{
    font-size: 20px !important;
}
.swiper-button-next::after{
    font-size: 20px !important;
}
.iconFilter {
    display: flex;
    margin-top: 35%;
    text-align: center;
    width: 100%;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.swiper-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.SportIcon
{
    width: 17vw;
    height: 17vw;
    border: solid 2px #b6b6b6;
}
.icon
{
    width: 60%;
    padding: 7%;
}
.iconImage {
    margin-left: 0;
    margin-bottom: 10%;
    border-radius: 7px;
}
.selectedIcon
{
    border-radius: 5px;
    border: 1px solid #c2c2c2;
}
.faculties-box-shadow {
    box-shadow: 2px 2px 5px 2px #d9d3d3;
}