.FAQ-main-container {
    text-align: center;
}
.faq-header {
    border-bottom: solid 2px #5a1024;
    margin: 0% 4% 0% 4%;
    padding-top: 5%;
    padding-bottom: 2%;
}
.text-header
{
    text-align: center;
    color: #5a1024 ;
    font-size: 20px;
    font-weight: bold;
}

.text-raw
{
    text-align: left;
    display: inline-block;
    width: 80%;
    font-size: 17px;
    color: rgb(75, 85, 99);
    
}