*{
    margin: 0;
}
.mobileLogo
{
    width: 60%;
}
.searchIcon
{
    cursor: pointer;
    width: 22%;
}
.burgerMenu
{
    cursor: pointer;
    width: 22%;
}
.MobileHeader
{
    display: flex;
    justify-content: space-between;
    padding: 4% 5%;
    margin-bottom: 2%;
    box-shadow: 0px 0px 17px 1px #d7d7d7;
}
.leftHeader
{
    width: 70%;
}
.rightHeader
{
    align-items: center;
    width: 30%;
    display: none;
    justify-content: space-between;
}
@media (max-width: 420px)
{
    .rightHeader
    {
        display: flex;
    }
}

.rightHeader h2
{
    font-weight: 300;
}
@keyframes slowTransitionAnimation {
    from {margin-left: -40rem;}
    to {margin-left: 0;}
}
.slowTransition
{
    animation-name: slowTransitionAnimation;
    animation-duration: 0.5s;
}