.NewsPreview
{
    border-radius: 13px;
    box-shadow: 0 0 10px 10px rgb(235, 235, 235);
}

.newsInfo p, .newsInfo h3
{
    margin-bottom: 2%;
}
.NewsPreview p{
    color: black;
}
.sportLabel {
    width: 31%;
    padding: 2.5% 0;
    position: absolute;
    left: 0;
    bottom: 0;
}
.date
{
    margin-top: 4%;
    color: gray !important;
}

.sec-new-container {
    display: flex;
    border-radius: 14px;
    background-color: white;
    box-shadow: 0 3px 5px 2px rgb(0 0 0 / 10%);
}

.news-text {
    padding: 3% 6%;
}

.sport-label {
    width: 75%;
    padding: 5% 1.5%;
    border-bottom-left-radius: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sport-label-generic {
    background-color: #8E475A;
    border-top-right-radius: 15px;
}

.sport-label-generic p {
    color: white;
    text-align: center;
    font-weight: 700;
}

.news-date {
    color: gray !important;
}


.news-img-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sec-news-img {
    width: auto;
    height: -webkit-fill-available;
}

@media (min-width: 1024px)
{
    .sportLabel {
        width: 21%;
        padding: 2%;
    }
}