.CardITBV
{
    margin: auto;
    margin-top: 15%;
    margin-bottom: 35%;
    padding: 8% 5%;
    border-radius: 15px;
    width: 40%;
    box-shadow: 0px 0px 15px 1px rgb(197, 197, 197);
}
.CardITBV h2
{
    color: black;
    text-align: center;
    font-weight: 400;
}
.CardITBV p
{
    color: black;
    text-align: center;
    font-weight: 400;
}
.Logo
{
    padding-left: 5%;
    width: 50%;
}
.pagination
{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-top: 10%;
    margin-left: 30%;
}
.arrow
{
    cursor: pointer;
    margin-top: 5%;
    width: 10%;
}
.pageNumb
{
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 6% 10%;
    border-radius: 19rem;
}
.selected
{
    /* background-color: #5a1024; */
    color: white;
}
