/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/Components/Layout/layout.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
*{
    margin: 0;
}
.mobileLogo
{
    width: 60%;
}
.searchIcon
{
    cursor: pointer;
    width: 22%;
}
.burgerMenu
{
    cursor: pointer;
    width: 22%;
}
.MobileHeader
{
    display: flex;
    justify-content: space-between;
    padding: 4% 5%;
    margin-bottom: 2%;
    box-shadow: 0px 0px 17px 1px #a3a3a3;
}
.leftHeader
{
    width: 70%;
}
.rightHeader
{
    align-items: center;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.rightHeader h2
{
    font-weight: 300;
}
/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/app/globals.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
/*
! tailwindcss v3.3.3 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {

  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {

  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {

  .container {
    max-width: 1536px;
  }
}
.right-2 {
  right: 0.5rem;
}
.right-3 {
  right: 0.75rem;
}
.table {
  display: table;
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.MobileView
{
  background-color: rgb(245, 245, 245);
  display: none;
}
.DesktopView
{
  background-color: rgb(245, 245, 245);
  display: block;
}
.image{
  -o-object-fit: cover;
     object-fit: cover;
  width: 100% !important;
  position: relative !important;
}
.sectionTitle
{
  color: #5a1024;
  border-bottom: solid;
  border-width: 1px;
  border-color: #5a102454;
  padding: 2% 0%;
  margin-bottom: 5%;
}
.container
{
    padding: 0 5%;
}





/* Mobile Version: 0px - 420px */
@media (max-width: 420px)
{
  h1
  {
    font-size: 32px;
  }
  h2
  {
    font-size: 20px;
  }
  .crumbs h3
  {
    font-size: 35px;
  }
  .iconFilter p
  {
    font-size: 10px;
  }
  p{
    font-size: 13px;
  }
  .MobileView
  {
    display: block;
  }
  .DesktopView
  {
    display: none;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/Components/BreadCrumbs/BreadCrumbs.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.crumbsArrow
{
    width: 30%;
}
.crumbs
{
    cursor: pointer;
    display: flex;
    padding-right: 2%;
    align-items: center;
}
.crumbs h3
{
    font-weight: 300;
    font-size: 35px;
    padding-right: 10%;
    padding-bottom: 2%;
}
.BreadCrumbs
{
    background-color: rgb(243, 243, 243);
    padding: 2% 4%;
    justify-content: left;
    display: flex;
    margin-bottom: 2%;
    box-shadow: 0px 10px 30px 2px #cacaca70;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/Components/Footer/Footer.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.Footer
{
    padding-top: 7%;
    background-color: white;
}
.leftColumn:first-of-type
{
    margin-left: -13%;
}
.group
{
    margin: 5% 0;
    width: 50%;
}
.footerRow
{
    display: flex;
    justify-content: space-evenly;
}
.groupInfo
{
    margin-top: -7%;
}
.group p
{
    color: rgb(29, 29, 29);
}
.group a
{
    font-weight: bold;
    color: #5a1024;
}
.Links
{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    border-top: solid;
    border-bottom: solid;
    border-color: gray;
    border-width: 2px;
    padding: 10% 0;
}
.Links a{
    color: rgb(51, 51, 51);
}
.rightLinks
{
    width: 50%;
}
.rights
{
    padding: 10%;
    align-items: center;
    text-align: center;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/Components/MedalTable/medalTable.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/

.MedalTable
{
    background-image: url("/_next/static/media/Group 3676.14376545.svg");
    background-repeat: no-repeat;
    background-position: fixed;

}
.tableTitle
{
    width: 84.2%;
    padding: 5% 8%;
    background-color: #5a1024;
    color: white;
    margin-top: 17%;
}
.filters
{
    width: 23%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.tableTitle
{
    box-shadow: 0px -3px 15px 2px gray;
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
    margin-bottom: 15%;
}
.moreImg
{
    width: 25%;
}
.filters p
{
    color: white;
}
.medalsTable
{
    border: solid;
    background-color: rgba(255, 255, 255, 0.226);
    border-width: 1px;
    border-color: rgb(185, 185, 185);
    background-color: rgba(255, 255, 255, 0.753);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    padding: 5% 2% 0 2%;
    margin-top: -15%;
    width: 100%;
}
th:first-of-type{
    padding-right: 18%;
}
.medalIcon
{
    width: 45%;
    margin-left: 27%;
}
.logoName
{
    width: 30%;
    padding: 0 5%;
}
.row
{
    padding: 5% 0;
    display: flex;
    align-items: center;
    padding-left: 9%;
}
.medalInfo
{
    padding-left: 3.5%;
}
.medalInfo:last-of-type
{
    padding-left: 6%;
}
td
{
    border-bottom: solid;
    border-width: 1px;
}
td p
{
    color: black !important;
}
.moreBar p:last-of-type
{
    padding-right: 5%;
}
.moreBar
{
    padding-left: 37%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 15%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: solid;
    border-top: none;
    border-width: 0.4px;
    border-color: rgb(192, 192, 192);
    display: flex;
    background-color: rgba(255, 255, 255, 0.753);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    margin-top: -0.5%;
    width: 62.5%;
}
.showMore
{
    width: 10%;
}
.moreImg
{
    width: 80%;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/Components/SportCard/SportCard.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.SportCard
{
    cursor: pointer;
    width: 35%;
    padding: 5%;
    text-align: center;
    margin: 5% 2.5%;
    margin-bottom: 1%;
    box-shadow: 0px 1px 6px 2px rgb(223, 223, 223);
}
.SportCard p
{
    margin-top: 10%;
}
.sportImage
{
    width: 60%;
    padding: 20%;
}
.circle
{
    margin-left: 10%;
    height: 12vh;
    width: 12vh;
    background-color: rgba(92, 0, 0, 0.384);
    border-radius: 70px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/Components/FacultyPreview/FacultyPreview.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.FacultiesPlaying
{
    margin-top: 15%;
    padding-bottom: 13%;
}
.FacultiesPage
{
    display: flex;
    justify-content: space-between;
}
.FacultyPreview
{
    margin-top: 5%;
    padding: 8% 5%;
    border-radius: 15px;
    width: 37%;
    box-shadow: 0px 0px 15px 1px rgb(197, 197, 197);
}
.FacultyPreview h2
{
    text-align: center;
    font-weight: 400;
}
.facultyLogo
{
    padding-left: 5%;
    width: 90%;
}
.pagination
{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-top: 10%;
    margin-left: 30%;
}
.arrow
{
    cursor: pointer;
    margin-top: 5%;
    width: 10%;
}
.pageNumb
{
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 6% 10%;
    border-radius: 19rem;
}
.selected
{
    background-color: #5a1024;
    color: white;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/Components/Presentation/presentation.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.Main
{
    background-color: #f3f3f3;
}
p, h1
{
    color: #5A1024;
}
.leftInfo
{
    width: 18%;
}
.Introduction{
    width: 77%;
}
.smallBall
{
    width: 90%;
}
.gameIsOn
{
    padding: 15% 0;
    padding-bottom: 30%;
    display: flex;
}
.backGroundBall
{
    padding-top: 15%;
}
.recortedPlayer
{
    width: 87%;
    position: absolute;
    top: 43%;
    left: 12%;
}
.gameIsOn h1
{
    margin-bottom: 5%;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/Components/DailySports/DailySports.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.SportsList
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15%;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/Components/NewsPreview/NewsPreview.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.NewsPreview
{
    cursor: pointer;
    border-radius: 13px;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0px 0px 10px 10px rgb(235, 235, 235);
}
.newsInfo
{
    padding: 5% 10%;
}
.newsInfo p, .newsInfo h3
{
    margin-bottom: 5%;
}
.NewsPreview p{
    color: black;
}
.sportLabel
{
    background-color: #5a10249c;
    width: 30%;
    padding: 3%;
    border-top-right-radius: 1.5rem;
    position: relative;
    margin-top: -12.5%;
}
.sportLabel p{
    color: white;
    padding-left: 5%;
    font-weight: 700;
}
.date
{
    margin-top: 10%;
    color: gray !important;
}
